[submodule "extern/nevr-common"]
	path = extern/nevr-common
	url = git@github.com:echotools/nevr-common.git
[submodule "extern/minhook"]
	path = extern/minhook
	url = https://github.com/TsudaKageyu/minhook.git
