[submodule "extern/minhook"]
	path = extern/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "extern/breakpad"]
	path = extern/breakpad
	url = https://github.com/google/breakpad.git
[submodule "extern/lss"]
	path = extern/lss
	url = https://chromium.googlesource.com/linux-syscall-support
[submodule "extern/lua"]
	path = extern/lua
	url = https://github.com/lua/lua.git
[submodule "extern/lua55"]
	path = extern/lua55
	url = https://github.com/lua/lua.git
